*{
    margin:0px;
    padding:0px;
}
#heading{
    text-align: center;
    color:aquamarine;
}
#container{
    margin:10px;
    padding:8px;
    height:300px;
    width:600px;
    border:2px solid black;
    background-color: lavender;

    display:flex;
    /* flex-direction:row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */

    /* justify-content: flex-end */
    /* justify-content: flex-start; */
    justify-content:center;
    /* justify-content:space-around; */
    /* justify-content:space-evenly; */
    /* justify-content: space-between; */
    /* justify content chalta hai main axis ki dirxn mein... */

    /* flex-wrap: wrap; */
    /* flex-wrap:wrap-reverse; */

    /* align-items: center;
    align-items:end;
    align-items:start; */

    /* align items is to align items in cross axis(perpendicular to main axis)... */

    /* flex-wrap:wrap; */
    /* align-items:center; */
    /* align-content:center; */
    /* justify-content = main axis
    align-items = items vs row (cross axis)
    align-content = rows vs container (cross axis) */

    /* justify-content → left/right
    align-items     → har box upar/neeche
    align-content   → poori rows upar/neeche
    */

    /* align content can be seen only in multiple rows  */

    /* align items align self property ko har flex item pe apply karta hai par agar kisi particular flex item par align-self property alag se lagaye to align items ovverwrite ho jaegi. */

}
.box{
    height: 75px;
    width:75px;
    /* display:inline-block; */
    margin:5px;
    margin:2px solid red;
}
#box1{
    background-color: orange;
    order:4;
}
#box2{
    background-color: magenta;
    order:3;

}
#box3{
    background-color: lightgreen;
    /* align-self:flex-end; */

    /* center prop set by align-items par box 3 bolta hai mujhe align-self se end pe le jao... */

    /* flex-shrink: 2; */

    /* 3 wale ko 2 times shrink kardo compare to all others. */

    /* flex-shrink:0; */

    /* 3 wale ko chedo hi mat waise ka waise rehn do.. */

    /* flex-grow:1; */

    /* isko 1 x times jyada grow kardo compare to other containers. */

    order:2;
}
#box4{
    background-color: firebrick;
    order:1;
    /* isse box 4 sabse pehle aajaega... */
}