*{
    margin:0px;
    padding:0px;
}
#heading{
    text-align: center;
    color:aquamarine;
}
#container{
    margin:10px;
    padding:8px;
    height:300px;
    width:600px;
    border:2px solid black;
    background-color: lavender;

    display:grid;
    grid-template-columns: 85px 85px;
    grid-template-rows: 85px 85px;

}
.box{
    height: 75px;
    width:75px;
    /* display:inline-block; */
    /* margin:2px; */
    /* margin:5px; */
    border:5px solid black;
    /* box-sizing: border-box; */
}
#box1{
    grid-row:1/2;
    grid-column: 1/2;
    background-color: orange;
}
#box2{
    grid-row:1/2;
    grid-column: 2/2;
    background-color: magenta;

}
#box3{
    grid-row:2/2;
    grid-column: 1/2;
    background-color: lightgreen;
}
#box4{
    grid-row:2/2;
    grid-column: 2/2;
    background-color: firebrick;
}