*{
    margin:0;
    padding:0;
}
nav{
    padding:5px;
}
nav a{
    text-decoration: none;
    margin-left:75px;
    padding:5px;
}
header{
    background-color: aqua;
}
#one{
    width:50px;
    height:50px;
    background-color: green;
    border-radius:50%;
}
.box{
    height:100px;
    width:100px;
    display:inline-block;
    margin:5px;
}
#container{
    border:3px solid red;
    margin:5px;
}
#box1{
    background-color: orange;
}
#box2{
    z-index: 2;
    background-color: blueviolet;
    position:relative;
    left:20px;
}
#box3{
    background-color: cadetblue;
}
#box4{
    background-color: palevioletred;
    position:fixed;
    right:10px;
}
footer{
    position:fixed;
    bottom:10px;
    background-color: rebeccapurple;
}